<div class="static-background">
    <div class="form-container">
        <h2>Update Article Details</h2>
        <%= articledetails(@user) %>
            <%= render "articles/form", article: @article %>
    </div>

</div>

